body{
	background-color: lightgray;
	font-size: 15px;
	color: black;
	font-family: Montserrat;
	text-align:center;
}

h1{
	font-size: 50px;
	color: #2c3035;
}
h2{
	font-size: 15px;
}

h3{
	font-size: 3px;
	color: #2c3035;
}



#container{
	widht: 1000px;
	marigin-left: auto;
	marigin-right: auto;
	
}

#logo{
	margin-top: 20px;
	font-size: 20px;
	letter-spacing: 2px;

}

#content{
	min-height:660px;
	display: inline-block;
	width:1160px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	text-align: center;
}

#personal{
	background-color: red;
	min-height: 200px;
	width: 350px;

}

#experience{
	float: left;
	background-color: green;
	min-height: 200px;
	width: 350px;

}

#development{
	background-color: yellow;
min-height: 200px;
	width: 350px;

}

#otherSkills{
	background-color: blue;
min-height: 200px;
	width: 350px;
	
}

#contactInfo{
	position: relative;
	text-align: center;
}

#footer{
	
	color: grey;
	font-size: 10px;
}

.social{
	display: inline-block;
	text-align: center;
}

.social:hover{
	cursor: pointer;
}

.info{
	float: left;
	margin-left: auto;
	margin-right: auto;
	min-height: 250px;
	width: 500px;
	border: solid 40px;
	border-color: lightgray;
	background-color: #ef8827;
}




